@model WebAutomate.ViewModels.AutomateViewModel

@{
	ViewData["Title"] = "Home Page";
	const int columnCount = 2;
}

<table class="center">
	<tbody>
	@for (int i = 0; i < Model.Products.Length / columnCount; i++)
	{
		<tr>
			@for (int j = 0; j < columnCount; j++)
			{
				<td>
					@{
							var index = i * columnCount + j;
							if (index >= Model.Products.Length)
							{
								break;
							}

							var p = Model.Products[index];
							var imgId = $"imgProdict{p.Id}";
							var labelId = $"lblProduct{p.Id}";
							<div class="text-center">
								<label>@p.Count RUB</label>
							</div>
							<div class="text-center">
								<input type="image" id="@imgId" value="@p.Id" width="100" height="100" src="@p.ImageUrl" title="@p.Name" onclick="onProductClick(value)"/>
							</div>
							<div class="text-center">
								<label for="@imgId" id="@labelId">0/@p.Count</label>
							</div>
						}
					
				</td>
			}
		</tr>}
	</tbody>
</table>

<script type="text/javascript">
	function onProductClick(value) {
		$("#lblProduct" + value).innerText = 0;
	}
</script>